/* This stylesheet is used when a user selects to use dark mode in their OS */
/* media query for this check is in screen.scss and calls this _dark-scheme partial if true */
html,body,input,textarea,select,button,.mainhero {
    background-color: #090c13
}

html,body,input,textarea,select,button {
    border-color: #575757;
    color: #e8e6e3
}

.mainsummary {
    color: #e8e6e3
}

.head {
    background: #090c14
}

a {
    color: #3391ff
}

table {
    border-color: #4c4c4c
}

/* Top main menu */
.menusimple > li a, .menusimple > li a:active, .menusimple > li a:visited, .menusimple > li a:link, .menusimple > li a:hover {
    color: rgb(222, 220, 215);
}

.menusimple > li ul {
    background-color: rgb(24, 26, 27);
    border-color: rgb(57, 57, 57);
}

/* Language drop down menu */
.lang li a, .lang li a:link, .lang li a:visited, .lang li a:active {
    color: rgb(222, 220, 215);
}

.lang li ul li a:hover {
    color: rgb(232, 230, 227);
    background-image: initial;
    background-color: rgb(33, 35, 37);
}

.lang li ul li a:hover {
    color: rgb(232, 230, 227);
    background-image: initial;
    background-color: rgb(33, 35, 37);
}

/* browser elements */
::placeholder {
    color: #bab5ab
}

::selection {
    background-color: #005ccc;
    color: #ffffff;
}

::-moz-selection {
    background-color: #005ccc;
    color: #ffffff
}

input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill {
    background-color: #545b00 !important;
    color: #e8e6e3 !important
}

::-webkit-scrollbar {
    background-color: #1c1e1f;
    color: #c5c1b9
}

::-webkit-scrollbar-thumb {
    background-color: #2a2c2e
}

::-webkit-scrollbar-thumb:hover {
    background-color: #323537
}

::-webkit-scrollbar-thumb:active {
    background-color: #3d4043
}

::-webkit-scrollbar-corner {
    background-color: #181a1b
}

* {
    scrollbar-color: #2a2c2e #1c1e1f
}
